.card-swap-container {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(5%, 0%);
  transform-origin: bottom right;

  perspective: 900px;
  overflow: visible;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 12px;
  border: 1px solid #fff;
  background: #000; /* fallback */
  padding: 20px;
  box-sizing: border-box;

  transform-style: preserve-3d;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  overflow: hidden; /* necessário para esconder bordas da imagem */
}

/* Imagem de fundo dentro do card */
.card-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  border-radius: 12px;
  pointer-events: none; /* impede clique na imagem */
}

/* Conteúdo do card fica sobre a imagem */
.card h3 {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  text-align: left;
  margin: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* fundo semi-transparente */
  border-radius: 8px;
  font-size: 1.5rem;
  color: white;
  width: 100%;
}

/* Ícone dentro do título */
.card h3 svg {
  color: var(--color-primary);
  margin-right: 15px;
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  .card-swap-container {
    transform: scale(0.75) translate(25%, 25%);
  }
}

@media (max-width: 480px) {
  .card-swap-container {
    transform: scale(0.55) translate(25%, 25%);
  }
}
